<div class="menu">
  <div class="row text-center">
    <div (click)="navigateTo(['weather'])" class="col">
      <i class="fab fa-cloudversify"></i>
    </div>
    <div class="col">
      <i class="far fa-lightbulb"></i>
    </div>
    <div (click)="navigateTo(['applications'])" class="col">
      <i class="fas fa-columns"></i>
    </div>
    <div (click)="navigateTo(['cameras'])" class="col">
      <i class="fas fa-video"></i>
    </div>
    <div (click)="openMenu()" class="col">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</div>
