<div class="box">
  <div class="container">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
      <div class="row text-center">
        <div class="col-12 mt-5">
          <input formControlName="username" type="text" placeholder="Username">
        </div>
        <div class="col-12 mt-3">
          <input formControlName="password" type="password" placeholder="Password">
        </div>
        <div class="col-12 mt-3">
          <button [disabled]="!signInForm.valid" type="submit" class="btn-sign-in">Login</button>
        </div>
      </div>
    </form>
  </div> 
</div>
