input {
    border: none;
    background-color: rgba(231, 231, 235, 0.486);
    width: 90%;
    padding: 10px;
}

.btn-sign-in {
    border: none;
    background-color: aquamarine;
    color: #588b84;
    width: 90%;
    padding: 10px;
}

.btn-sign-in:disabled {
    background-color: #dcfff8;
}

.box {
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/auth/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
