<div class="container pt-4">
  <div class="row text-center">
    <div class="col-3">
      <span class="icon">
        <i class="fas fa-cog"></i>
      </span>
    </div>
    <div class="col-6">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
    </div>
    <div class="col-3">
      <span class="icon">
        <i class="fas fa-sign-out-alt"></i>
      </span>
    </div>
  </div>
</div>
