<div (click)="navigateTo(application.url)" class="item">
  <div class="row">
    <div class="col-2">
      {{ application.icon }}
    </div>
    <div class="col-10">
      <div class="item-name">
        {{ application.name }}
      </div>
      <div class="item-description">
        {{ application.description }}
      </div>
    </div>
  </div>
</div>
