<div class="box" [ngClass]="(isDayTime()) ? 'dayTime' : 'nightTime'">
  <div class="container">
    <div class="row pt-5">
      <div class="col-4 text-center">
        <i class="fas fa-cloud"></i> {{ data.clouds.all }} %
      </div>
      <div class="col-4 text-center">
        <i class="fas fa-wind"></i> {{ data.wind.speed }} m/s
      </div>
      <div class="col-4 text-center">
          <i class="fas fa-tint"></i> {{ data.main.humidity }} %
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-12 text-center">
        <span class="gradi">{{ data.main.temp }}</span>
        <span class="celsius">°C</span>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-12">
        <i class="fas fa-long-arrow-alt-up"></i> {{ data.main.temp_max }}°
        <i class="fas fa-long-arrow-alt-down"></i> {{ data.main.temp_min }}°
      </div>
    </div>
  
    <div class="row text-center mt-4">
      <div class="col-12">
        {{ data.name }}, {{ data.sys.country }}
      </div>
  
      <div class="col-12 mt-5">
        <img [src]="weatherIconPath" [alt]="weatherIconAlt" width="70%" height="70%">
      </div>
    </div>
  </div>
</div>
