.box {
    height: 100vh;
    color: white;
}

.dayTime {
    background-color: #8dd1d9;
}

.nightTime {
    background-color: #585f6d;
}

.gradi {
    font-size: 100px;
}

.celsius {
    font-size: 50px;
}
