<ngx-spinner
    bdOpacity = 0.4
    bdColor = "rgba(0,162,247,0.48)"
    size = "medium"
    color = "#ffffff"
    type = "pacman"
    [fullScreen] = "true"
>
    <p style="color: white" >Loading</p>
</ngx-spinner>

<router-outlet></router-outlet>
