<div class="container">
  <div class="row mt-4 text-center">
    <div class="col-12">
      <button (click)="getRandomQuote()" class="btn btn-primary">Random quote!</button>
    </div>
    <div *ngIf="quote" class="col-12 mt-4">
      <cite>{{ quote }}</cite>
    </div>
    <div class="col-12 mt-4">
      <ul class="categories">
        <li *ngFor="let category of categories" (click)="getCategoryRandomQuote(category)" class="category">
          <span>{{ category }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
