cite {
    background-color: papayawhip;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories>:last-child {
    margin-bottom: 100px;
}

.category {
    padding: 15px;
    margin: 2px 0;
    color: black;
    background-color: papayawhip;
    border-radius: 5px;
}
