<div class="container">
  <div class="row">
    <div *ngFor="let item of cameras" class="col-sm-12 col-md-4 col-lg-3 text-center mt-4">
      <app-camera-item [camera]="item"></app-camera-item>
    </div>
    <div (click)="openModal(template)" class="col-12 text-center">
      Add camera
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add camera</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCameraForm" (ngSubmit)="addCamera()">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="floor">Floor</label>
        <input formControlName="floor" type="number" class="form-control" id="floor">
      </div>
      <div class="form-group">
        <label for="url">Link</label>
        <input formControlName="url" type="url" class="form-control" id="url" placeholder="http://">
      </div>
      <button [disabled]="!addCameraForm.valid" type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</ng-template>
