<div class="container">
  <div class="row">
    <div class="col-12">
      <input class="search" type="text" placeholder="Search..">
    </div>
    <div *ngFor="let app of applications" class="col-12 box-item">
      <app-applications-item [application]="app"></app-applications-item>
    </div>
  </div>
</div>
