.box-item {
    margin: 2px 0;
}

.search {
    margin: 10px 0;
    min-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(215, 215, 216, 0.336);
}

.search:focus {
    outline-color: aquamarine;
    border-radius: 5px;
}