<div *ngIf="isVisible" class="box">
  <app-side-bar-header></app-side-bar-header>
  <ul>
    <li class="item section">APPLICATIONS</li>
    <li (click)="navigateTo(['weather'])" class="item">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
      <span>Weather</span>
    </li>
    <li (click)="navigateTo(['chuck-norris'])" class="item">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
      <span>Chuck Norris</span>
    </li>
    <li class="item section">MY HOME</li>
    <li (click)="navigateTo(['cameras'])" class="item">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
      <span>Cameras</span>
    </li>
    <li class="item">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
      <span>Lights</span>
    </li>
    <li class="item">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
      <span>Temperature</span>
    </li>
    <!--
    <li class="item section">SECTION 2</li>
    <li class="item">
      <span class="icon">
        <i class="fas fa-user"></i>
      </span>
      <span>Profile</span>
    </li>
    <li class="item">
      <span class="icon">
        <i class="fas fa-cog"></i>
      </span>
      <span>Settings</span>
    </li>
    <li class="item">
      <span class="icon">
        <i class="fas fa-sign-out-alt"></i>
      </span>
      <span>Logout</span>
    </li>
    -->
  </ul>
</div>
