.box {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
    min-width: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style-type:none;
        background-color: #dbdbdb;
    }

    ul > :first-child {
        padding-top: 20px;
    }
}

.item {
    padding: 0 20px 20px 20px;
    color: black;
    cursor: pointer;
}

.icon {
    padding: 0 10px;
}

.section {
    padding: 0 30px 10px 20px;
    color: grey;
    font-size: 11px;
    font-weight: bold;
    cursor: default;
}
